#DivCad {
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding: 2% 0;
}

h1 {
  text-align: center;
}

.InputCad {
  height: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;

  & label {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;

  }

  & input {
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 80%;
  }
}

#DivAnamnese {
  margin-top: 2%;
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding: 2% 0;

  & span {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: flex-start;
    flex-direction: column;
  }
}

#DivExameFísico {
  margin-top: 2%;
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  padding: 2% 0;
  justify-content: center;

  & span {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: flex-start;
    flex-direction: column;

  }
}

#DivDiagnóstico {
  margin-top: 2%;
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  padding: 2% 0;
  justify-content: center;

  & span {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: flex-start;
    flex-direction: column;
}

#DivPlanoeConduta {

}

}