h1,
h2 {
  text-align: center;
  font-size: 25px;
}

img {
  width: -webkit-fill-available;
}

#DivCad {
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2% 0;
}

.InputCad {
  height: 60px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .SpanSex {
    display: flex;
    flex-direction: row;

    & .LabelSex {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: normal;
    }
  }

  & label {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
  }

  & select {
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 90%;
  }

  & input {
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 90%;
  }
}

#DivAnamnese {
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding: 2% 0;

  & label {
    font-size: 18px;
  }

  & .SpanHC {
    flex-direction: row;
    justify-content: space-around;
  }

  & span {
    display: flex;
    width: 90%;
    height: 80px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;

    & .DivRadio {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      & label {
        display: flex;
        align-items: center;
        font-size: 18px;
      }

      & input[type="radio"] {
        height: 30px;
      }
    }
  }

  & .YNSpan {
    height: 120px;
  }

  & .DivPA {
    display: flex;
    width: 90%;
    justify-content: space-between;

    & span {
      & input {
        width: 140px;
      }
    }
  }
}

#DivExameFísico {
  border-top: 2px solid;
  border-color: red;
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2% 0;

  & .SpanTxtArea {
    height: auto;
  }

  & .SpanRevisaoDeSistema {
    height: 80px;
    margin-bottom: 10px;
  }

  & .SpanExFi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;

    & label {
      font-size: 18px;
    }

    & input {
      border: none;
      border-bottom: 1px solid;
      margin-left: 5px;
      background-color: transparent;
      text-align: center;
    }
  }

  & .PASPAD {

    & span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    & input {
      width: 25%;
      text-align: center;
    }
  }

  & span {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: flex-start;
    flex-direction: column;
  }

  & .SpanHC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#DivDiagnóstico {
  height: auto;
  width: 100%;
  background-color: rgb(244, 247, 245);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  padding: 2% 0;
  justify-content: center;

  & span {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: flex-start;
    flex-direction: column;
  }
}

.TXTArea {
  height: 120px;
  resize: none;
  width: 98%;
}

footer {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & button {
    width: 60%;
    height: 35px;
  }

  & h2 {
    color: white;

    & .Span1 {
      color: lime;
    }

    & .Span2 {
      color: darkblue;
    }
  }
}